In [5]:
# import necessary packages
import pandas as pd
import numpy as np
import pickle

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
# set plot style for visualizations
plt.style.use('dark_background')

In [3]:
# read in data file
with open('users.pickle', 'rb') as f:
    df = pickle.load(f)

In [4]:
print(df.shape)
df.head()

(779045, 7)

,user_id,purchased,num_purchases,rfm_score,num_views,adds_to_cart,removals_from_cart
0,1120748,0,0,252,1,0,0
1,1458813,0,0,342,31,0,0
2,4103071,0,0,151,7,1,0
3,5493470,0,0,253,5,5,0
4,6217356,0,0,352,0,1,0

In the EDA notebook, I discovered that my target is imbalanced between users that have made a purchase and those that have not. To account for this I will need to stratify y when splitting the training and testing sets.

In [8]:
# split data into X and y, and training and testing sets
X = df.drop(['purchased', 'user_id'], axis=1)
y = df['purchased']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

### K-Nearest Neighbors

In [ ]:
# find accuracy_scores for different values of k
k_range = list(range(1, 31))
k_scores = {}
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    k_scores[k] = accuracy_score(y_test, y_pred)
    
print(k_scores)

In [ ]:
# find the optimal value of k
keys = list(k_scores.keys())
values = list(k_scores.values())
keys[values.index(max(values))]

# plot the accuracy scores of each KNN model for each value of k
plt.plot(keys, values)
plt.xlabel('Value of K for KNN')
plt.ylabel('Accuracy Score');